.secrets {
	padding-top: 48px;
	padding-bottom: 112px;
	position: relative;
	z-index: 10;
	&__wrap {
		max-width: 780px;
	}
	&__title {
		margin-bottom: 19px;
	}
	&__product {
		width: 429px;
		margin-top: 64px;
		margin-left: 50px;
	}
	&__btn {
		position: absolute;
		left: calc(50% - 98px);
		bottom: 33px;
	}
	&__img {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		max-width: 950px;
		height: 100%;
		z-index: -1;
		background-color: #d7d3d0;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right;
		}
	}
}
@media (max-width: 1290px) {
	.secrets {
		&__wrap {
			max-width: 600px;
		}
		&__product {
			width: 360px;
			margin-top: 40px;
		}
	}
}
@media (max-width: 1010px) {
	.secrets {
		padding-top: 0px;
		padding-bottom: 0px;
		&__title {
			margin-bottom: 20px;
		}
		&__subtitle {
			max-width: 335px;
			font-size: 20px;
			line-height: 140%;
		}
		&__product {
			width: 199px;
			margin-top: 18px;
			margin-left: 68px;
		}
		&__img {
			width: 48.8%;
		}
		&__btn {
			left: calc(50% - 25px);
			bottom: -60px;
		}
	}
}
@media (max-width: 760px) {
	.secrets {
		padding-top: 31px;
		padding-bottom: 0;
		&__title {
			margin-bottom: 10px;
		}
		&__subtitle {
			font-size: 16px;
		}
		&__bottom {
			position: relative;
			margin-top: 58px;
		}
		&__img {
			width: calc(100% + 40px);
			position: relative;
			margin-left: -20px;
			margin-right: -20px;
		}
		&__product {
			width: 151px;
			margin-top: 0;
			margin-left: -3px;
			position: absolute;
			z-index: 10;
			top: calc(50% - 32px);
		}
		&__btn {
			left: 5px;
			bottom: -35px;
		}
	}
}
