.time-action {
	overflow: hidden;
	&__wrap {
		max-width: 780px;
		margin-left: auto;
	}
	&__box {
		margin-top: 23px;
		display: inline-flex;
		color: #f4eeee;
		text-align: center;
		font-size: 32px;
		font-weight: 400;
		line-height: 140%;
		border-radius: 100px;
		border: 1px solid #f4eeee;
		padding: 14px 30px;
		margin-left: 10px;
		min-width: 650px;
		justify-content: center;
	}
	&_man {
		.time-action-top {
			&__body {
				position: static;
			}
			&__img {
				width: auto;
				bottom: 0;
				left: calc(50% - 670px);
				height: 485px;
				img {
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}
}

.time-action-top {
	padding-top: 43px;
	padding-bottom: 42px;
	background-color: #f4eeee;
	position: relative;
	&__body {
		position: relative;
	}
	&__box {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin-bottom: 40px;
	}
	&__subtitle {
		color: #a1203e;
	}
	&__desc {
		color: #191919;
		p + p {
			margin-top: 28px;
		}
	}
	&__img {
		position: absolute;
		width: 629px;
		bottom: -43px;
		left: calc(50% - 770px);
	}
	&__product {
		position: absolute;
		width: 448px;
		bottom: -280px;
		left: calc(50% - 720px);
	}
}

.time-action-bottom {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #a1203e;
	&__title {
		color: #f4eeee;
		br {
			display: none;
		}
	}
	.time-action {
		&__wrap {
			max-width: 795px;
			margin-right: -15px;
		}
	}
}
@media (max-width: 1290px) {
	.time-action {
		&__wrap {
			max-width: 640px;
		}
		&__box {
			margin-left: 0px;
			min-width: 100%;
		}
		&_man {
			.time-action-top {
				&__img {
					left: 0;
				}
			}
		}
	}
	.time-action-top {
		&__img {
			width: 500px;
			bottom: -43px;
			left: calc(50% - 610px);
		}
		&__product {
			width: 360px;
			bottom: -280px;
			left: calc(50% - 500px);
		}
	}
	.time-action-bottom {
		.time-action {
			&__wrap {
				max-width: 640px;
				margin-right: 0px;
			}
		}
	}
}
@media (max-width: 1010px) {
	.time-action {
		&__wrap {
			max-width: 100%;
		}
		&__box {
			margin-left: 0;
			min-width: 95%;
			margin-top: 28px;
		}
		&_man {
			.time-action-top {
				&__body {
					position: relative;
				}
				&__img {
					left: 0;
					height: 440px;
					margin-left: -40px;
				}
			}
		}
	}
	.time-action-top {
		padding-top: 50px;
		padding-bottom: 0px;
		font-size: 20px;
		line-height: 140%;
		margin-bottom: -5px;
		&__box {
			max-width: 420px;
			gap: 10px;
			margin-bottom: 27px;
		}
		&__img {
			position: relative;
			width: 440px;
			bottom: 0;
			left: 0;
			margin-top: 21px;
			margin-left: -73px;
		}
		&__product {
			width: 450px;
			bottom: 20px;
			left: calc(50% - 70px);
		}
	}
	.time-action-bottom {
		padding-top: 40px;
		padding-bottom: 40px;
		position: relative;
		&__title {
			font-size: 50px;
			line-height: 130%;
		}
		.time-action {
			&__wrap {
				max-width: 100%;
				margin-right: 0;
				text-align: center;
			}
		}
	}
}
@media (max-width: 760px) {
	.time-action {
		&__box {
			min-width: 100%;
			margin-top: 27px;
			font-size: 28px;
			padding: 19px 30px;
		}
		&_man {
			.time-action-top {
				&__img {
					height: 271px;
					margin-left: -20px;
					margin-top: 0px;
				}
			}
		}
	}
	.time-action-top {
		padding-top: 22px;
		font-size: 16px;
		margin-bottom: 0px;
		&__box {
			gap: 8px;
			margin-bottom: 15px;
		}
		&__desc {
			p + p {
				margin-top: 19px;
			}
		}
		&__img {
			width: 276px;
			bottom: 0;
			left: 0;
			margin-left: -77px;
			margin-top: -6px;
		}
		&__product {
			width: 252px;
			left: auto;
			right: -42px;
			bottom: 14px;
		}
	}
	.time-action-bottom {
		padding-top: 22px;
		padding-bottom: 22px;
		&__title {
			font-size: 36px;
			line-height: 130%;
			br {
				display: block;
			}
		}
	}
}
