@font-face {
	font-family: "Blinker";
	src: url("../fonts/Blinker/Blinker Light/Blinker Light.eot");
	src:
		url("../fonts/Blinker/Blinker Light/Blinker Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Blinker/Blinker Light/Blinker Light.woff") format("woff"),
		url("../fonts/Blinker/Blinker Light/Blinker Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Blinker";
	src: url("../fonts/Blinker/Blinker Regular/Blinker Regular.eot");
	src:
		url("../fonts/Blinker/Blinker Regular/Blinker Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Blinker/Blinker Regular/Blinker Regular.woff") format("woff"),
		url("../fonts/Blinker/Blinker Regular/Blinker Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Anton";
	src: url("../fonts/Anton/Anton.eot");
	src:
		url("../fonts/Anton/Anton.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Anton/Anton.woff") format("woff"),
		url("../fonts/Anton/Anton.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Public Sans";
	src: url("../fonts/Public Sans/Public Sans.eot");
	src:
		url("../fonts/Public Sans/Public Sans.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Public Sans/Public Sans.woff") format("woff"),
		url("../fonts/Public Sans/Public Sans.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/Lato Regular.eot");
	src:
		url("../fonts/Lato/Lato Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Lato/Lato Regular.woff") format("woff"),
		url("../fonts/Lato/Lato Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
